test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

google:
  service: GCS
  project: <%= Rails.app.creds.option(:gcs, :project, default: ENV["GCS_PROJECT"]) %>
  bucket: <%= Rails.app.creds.option(:gcs, :bucket, default: ENV["GCS_BUCKET"]) %>
  credentials: <%= Rails.app.creds.option(:gcs, :credentials_path, default: ENV["GCS_CREDENTIALS_PATH"]) %>
  iam: <%= Rails.app.creds.option(:gcs, :iam, default: ENV["GCS_IAM"] == "true") %>
  gsa_email: <%= Rails.app.creds.option(:gcs, :gsa_email, default: ENV["GCS_GSA_EMAIL"]) %>
  cache_control: "private, max-age=0"

# Optional mirroring fallback.
# mirror:
#   service: Mirror
#   primary: google
#   mirrors: [local]
