services:
  prometheus:
    image: prom/prometheus:v3.4.1
    container_name: upright-prometheus
    network_mode: host
    volumes:
      - ./config/prometheus/development/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./config/prometheus/rules:/etc/prometheus/rules:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-lifecycle'
      - '--web.enable-remote-write-receiver'

  alertmanager:
    image: prom/alertmanager:v0.28.1
    container_name: upright-alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./config/alertmanager/development/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - alertmanager_data:/alertmanager
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--storage.path=/alertmanager'

  playwright:
    image: jacoblincool/playwright:chromium-server-1.56.1
    container_name: upright-playwright
    ports:
      - "53333:53333"
    environment:
      - DEBUG=true

volumes:
  prometheus_data:
  alertmanager_data:
